<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        routerLink=""
        class="navbar-brand">Recipe Book =^^=</a>
      <!--      <button class="navbar-toggler"-->
      <!--              type="button"-->
      <!--              data-toggle="collapse"-->
      <!--              data-target="#navbarSupportedContent"-->
      <!--              aria-controls="navbarSupportedContent"-->
      <!--              aria-expanded="false"-->
      <!--              aria-label="Toggle navigation">-->
      <!--        <span class="navbar-toggler-icon"></span>-->
      <!--      </button>-->
    </div>

    <div class="navbar"
         id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li
          class="nav-item"
          routerLinkActive="active"
        ><a
          class="nav-link "
          routerLink="/recipes"
          *ngIf="isAuthenticated">Recipes</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"><a
          class="nav-link"
          routerLink="/shopping">Shopping
          List</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"><a
          class="nav-link"
          routerLink="/user">user
          List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right"
          style="margin-left: auto">
        <li
          class="dropdown"

          *ngIf="isAuthenticated">
          <a style="cursor: pointer"
             class="nav-link dropdown-toggle"
             appDropdown
             role="button">Manage<span
            class="caret"></span>\_(ツ)_/¯</a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item"
                   style="cursor: pointer"
                   (click)="onSave()"
            >Save Data (~^+^)</a></li>
            <li><a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="onFetchData()">Fetch Data!!! (´･ᴗ･ )</a></li>
          </ul>
        </li>
        <li
          class="nav-item"><a
          class="btn btn-outline-danger"
          (click)="logOut()"
          *ngIf="isAuthenticated">(」°ロ°)」 log out</a></li>
      </ul>
    </div>
  </div>
</nav>
