<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm"
          (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success">save</button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCancel()">cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label
            ><input class="form-control" formControlName="name" id="name" type="text"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="ingPath">imgPath</label
            ><input class="form-control"
                    formControlName="imagePath" id="ingPath" type="text"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive"
               style="width: 10%; object-fit: cover"
               [src]="recipeForm.value.imagePath"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">description</label
            ><textarea
            formControlName="description"
            class="form-control"
            id="description"
            rows="6"
            type="text"
          ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" formArrayName="ingrediends" style="overflow-x: hidden;max-height: 10rem">
            <div
              *ngFor="let ingrediend of ingrediendsListArray.controls; let i = index">
              <div class="row my-2" [formGroupName]="i">
                <div class="col-8"><input
                  class="form-control"
                  type="text"
                  formControlName="name"
                /></div>
                <div class="col-2"><input
                  class="form-control"
                  type="text"
                  formControlName="amount"
                /></div>
                <div class="col-2">
                  <button
                    type="button"
                    (click)="onDeleteIngredient(i)"
                    class="btn btn-danger">X
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-success"
            (click)="onAddIngrediend()">Add ingrediend
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
