<picture
  class="overflow-hidden"
>
<img
  [src]="recipe.imagePath"
  alt="{{ recipe.name }}"
  class="img-responsive"
  style="
    shape-outside: circle(50%);
    margin-top: 1rem;
    float: right;
      object-fit: cover;
      width: 40%;
      aspect-ratio: 1/1;
      filter: drop-shadow(0 0 0.5rem #10fa06);
      border-radius: 50%"></picture>
<div class="row">
  <div class="col-xs-12" style="overflow-x: hidden;  max-height: 15rem">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="dropdown"
    >
      <button
        type="button"
        appDropdown
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item"
               (click)="onAddToShoppingList()"
               style="cursor: pointer">To Shopping List</a></li>

        <li><a class="dropdown-item"
               style="cursor: pointer"
               routerLink='edit'
               (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a class="dropdown-item"
               (click)="onDeleteRecipe()"
               style="cursor: pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingrediends">
        {{ingredient.name}} - {{ingredient.amount}}</li>
    </ul>
  </div>
</div>
